<div class="row animated fadeIn" *ngIf="cargando">
	<div class="col-sm-12">
		<div class="alert alert-warning text-center">
			<strong>Cargando</strong>
			<br>
			<i class="fas fa-refresh fa-spin fa-2x"></i>
			<br>
			<span>Espere por favor</span>
		</div>
	</div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
	<div class="col-12">
		<div class="card card-empresa">
			<div class="card-body">
				<div class="text-right">
					<button (click)="exportAsXLSX(this.dataSource)" class="btn btn-success m-r-10">
						<i class="fas fa-file-excel"></i>
					</button>
					<button matTooltip="Añadir nuevo Empresa" mat-mini-fab class="btn btn-primary"
						[routerLink]="['/empresas','nuevo']" type="button">
						<i class="fa fa-plus"></i>
					</button>
				</div>
				<h3 class="card-title">Empresas (<small>{{totalRegistros}}</small>)</h3>
				<mat-checkbox [checked]="acttrue" [(ngModel)]="acttrue" #bool (value)="bool.checked"
					(change)="filtrado(bool.checked)">INACTIVOS
				</mat-checkbox>
				<div class="example-header mat-elevation-z8">
					<mat-form-field>
					  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba algo para filtrar">
					</mat-form-field>
				  </div>

				<br>
				<div class="example-container mat-elevation-z8">
				</div>
				<div class="example-container mat-elevation-z8">
					<mat-table class="mat-table-big" #table [dataSource]="dataSource" matSort>
						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
							<mat-cell *matCellDef="let empresa">
								<button matTooltip="Editar Empresa" [routerLink]="['/empresas', empresa.empresaId ]"
									class="btn btn-primary m-r-5">
									<i class="fa fa-edit"></i>
								</button>
								<button *ngIf="empresa.estado" matTooltip="Eliminar Empresa"
									(click)="borrarEmpresa(empresa)" class="btn btn-danger m-r-5">
									<i class="far fa-trash-alt"></i>
								</button>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="rfc">
							<mat-header-cell *matHeaderCellDef mat-sort-header>RFC</mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.rfc}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="nombre">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="immex">
							<mat-header-cell *matHeaderCellDef mat-sort-header>IMMEX</mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.immex}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="estado">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<mat-slide-toggle [checked]="row.estado"
									(change)="habilitaDeshabilitaEmpresa(row, $event)"></mat-slide-toggle>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="createdAt">
							<mat-header-cell *matHeaderCellDef mat-sort-header>FAlta</mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.createdAt | date:'dd/MM/yyyy'}} </mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table>
					<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]>
					</mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

