<div class="row">
  <!-- <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="assets/img/damir-bosnjak.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
              <h5 class="title">{{this.nombre.value}}</h5>
            </a>
            <p class="description">
              {{this.email.value}}
            </p>
          </div>
          <p class="description text-center">
            "I like the way you work it
            <br> No diggity
            <br> I wanna bag it up"
          </p>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-6 ml-auto">
                <h5>12
                  <br>
                  <small>Files</small>
                </h5>
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                <h5>2GB
                  <br>
                  <small>Used</small>
                </h5>
              </div>
              <div class="col-lg-3 mr-auto">
                <h5>24,6$
                  <br>
                  <small>Spent</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Team Members</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image"
                      class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  DJ Khaled
                  <br />
                  <span class="text-muted">
                    <small>Offline</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                      class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                      class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Creative Tim
                  <br />
                  <span class="text-success">
                    <small>Available</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                      class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image"
                      class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  Flume
                  <br />
                  <span class="text-danger">
                    <small>Busy</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                      class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Agente Aduanal</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="regForm" (ngSubmit)="guardarAgenteAduanal()" novalidate>
          <!-- <div class="row">
            <div class="col-md pr-1">
              <div class="form-group">
                <mat-slide-toggle formControlName="estado" [checked]="this.estado.value">Estado
                </mat-slide-toggle>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Patente</label>
                <input formControlName="patente" type="text" class="form-control" placeholder="Patente"
                  value={{this.patente.value}}>
              </div>
            </div>
            <div class="col-md-9 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre"
                  value={{this.nombre.value}}>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>RFC</label>
                <input formControlName="rfc" type="text" class="form-control" placeholder="RFC"
                  value={{this.rfc.value}}>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>CURP</label>
                <input formControlName="curp" type="text" class="form-control" placeholder="CURP"
                  value={{this.curp.value}}>
              </div>
            </div>
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Fecha Cración (disabled)</label>
                <input formControlName="createdAt" type="text" class="form-control" placeholder="Creado el..."
                  value={{this.createdAt.value }}>
              </div>
            </div>
          </div>
          <h5 class="card-title">Direccion</h5>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Calle</label>
                <input formControlName="calle" type="text" class="form-control" placeholder="Calle"
                  value={{this.calle.value}}>
              </div>
            </div>
            <div class="col-md-1 px-1">
              <div class="form-group">
                <label>Número</label>
                <input formControlName="numero" type="text" class="form-control" placeholder="Número"
                  value={{this.numero.value}}>
              </div>
            </div>
            <div class="col-md-2 px-1">
              <div class="form-group">
                <label>CP</label>
                <input formControlName="cp" type="text" class="form-control" placeholder="CP" value={{this.cp.value}}>
              </div>
            </div>
            <div class="col-md-5 pl-1">
              <div class="form-group">
                <label>Colonia</label>
                <input formControlName="colonia" type="text" class="form-control" placeholder="Colonia"
                  value={{this.colonia.value}}>
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Entidad Federativa</label>
                <mat-select placeholder="Seleccione una entidad" formControlName="entidadId" name="entidadId">
                  <mat-option *ngFor="let e of entidades" [value]="e.entidadId">
                    {{ e.nombre }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <!-- <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" placeholder="City" value="Melbourne">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" placeholder="Country" value="Australia">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" class="form-control" placeholder="ZIP Code">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea
                    class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
                </div>
              </div>
            </div> -->
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round"
                [disabled]="regForm.pristine || regForm.invalid">Guardar</button>
            </div>
          </div>
        </form>
        <p>Form value {{ regForm.value | json }} </p>
        <p> Form status {{ regForm.status | json}} </p>
      </div>
    </div>
  </div>
</div>