/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
.my-container {
    display: flex;
    flex-direction: column;
}

.my-container>* {
    width: 100%;
}

#themecolors a {
    cursor: pointer
}

.pointer {
    cursor: pointer
}

.w150 {
    width: 150px
}

.w70 {
    width: 70px
}

.img-50 {
    width: 50px
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.btn.btn-primary[disabled] {
    background-color: #999999;
    border-color: #999999;
}


/* TABLE MATERIAL */

.mat-table {
    overflow: auto;
}

.mat-table-medium {
    width: 1350px;
    justify-content: center!important;
}

.mat-table-big {
    width: 2000px;
    white-space: inherit;
    justify-content: center!important;
}

.mat-table-extra-big {
    width: 3000px;
    white-space: inherit;
    justify-content: center!important;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    overflow: auto;
    max-width: 2000px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-table mat-cell {
    display: inline-flex;
    justify-content: center!important;
}

.mat-table mat-header-cell {
    display: flex;
    justify-content: center;
    font-style: inherit;
    font-size: 15px;
    color: white;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-row:nth-child(even) {
    background-color: rgb(210, 210, 235)
}

.mat-row:nth-child(odd) {
    background-color: rgb(245, 248, 255)
}

.encabezado {
    background-color: #002C77}

.input {
    background-color: aqua;
}


/* FIN TABLE MATERIAL */

.catalogo-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    overflow: auto;
}

.catalogo-table {
    width: 100%;
    white-space: inherit;
    justify-content: center!important;
}

.catalogo-table-small {
    width: 800px;
    white-space: inherit;
    justify-content: center!important;
}

.catalogo-table-medium {
    width: 1500px;
    white-space: inherit;
    justify-content: center!important;
}

.catalogo-table-big {
    width: 2500px;
    white-space: inherit;
    justify-content: center!important;
}

.catalogo-table th {
    justify-content: center;
    font-style: inherit;
    font-size: 15px;
    color: white;
}

.catalogo-table td {
    font-size: 14px;
}